* {
  padding: 0;
  margin: 0;
}

header {
  height: 60px;
  background: rgb(65, 143, 233);
  color: white;
  display: flex;
  justify-content: space-between;
  line-height: 60px;
  padding: 0 30px;
}

main {
  height: 100vh;
  background: rgb(128, 175, 228);
}

footer {
  height: 60px;
  background: rgb(65, 143, 233);
  color: white;
  line-height: 60px;
  text-align: center;
}

form {
  width: 70%;
  height: 500px;
  margin: 0 auto;
}

input {
  width: 100%;
}